@import url('https://fonts.googleapis.com/css?family=Monoton');


#heading{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Monoton', cursive;
	font-size: 55px;
	color: #4BCAAA;
	letter-spacing: 5px;
}